/* use the universal selector to Normalize the css in order to make a cross browser reset */
/* remember to add ::after & ::before as well, they still need a global reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    /* box-sizing by itself is NOT inherit. Use inherit keyword to force box-sizing inheritance */
    /* after setting this. in body{box-sizing: boder-box}, all child element of body will take this effect */
    box-sizing: inherit;
}

/* any font setting will be inherited to all child elements */
/* good to set font-size 10px === 1rem in html, easier to calculate font-size for child element by using rem  */
/* child element can use rem to set font-size, margin, padding, width, height etc. to make responsive layout*/
/* almost all the child element can use rem by defining html font-size:10px */
/* *********** This way avoid putting too much responsive setting in @media query ************* */
html {
    /* font-size: 10px; */

    /* browser default size is 16px, 10/16=0.625, so 62.5% === 10 px, same as above */
    /* This way is better than set 10px */
    /* because if doing zooming function, setting 62.5% is much easier than a 10px */
    font-size: 62.5%;
}


body {
    box-sizing: border-box;

    /* the properties related to font are usually inherited */
    /* child element will inherite body's font setting */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;

    /* padding will NOT inherited to child */
    padding: 3rem;
}


.header {
    position: relative;
    height: 95vh;

    /* *** CSS中也可以直接加入图片 ***  */
    /* *** 颜色也可以作为background image ***，用逗号切分多个图片 */
    /* to right bottom 从右下方开始渐变色 */
    background-image:
        linear-gradient(to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 131, 0.8)),
        url(../img/hero.jpg);

    /* cover means whatever the *** WIDTH *** of the viewport or the element, it'll always try to fit the element inside of the box */
    background-size: cover;

    /* to ensure whatever the viewport size is that this top of the *** IMAGE *** here always stays at the top of the container. */
    /* *** 针对图片 *** 在网页放大缩小时图片显示位置的变化 viewport 变化的话，顶部还是保持在页面的顶部，页面的下部会随着vh的变化而变化 */
    background-position: top;

    /* **** 将div变成不规则的图形 **** */
    /* 坐标从 左上开始顺时针 到 右上，右下，最后左下 4个坐标 */
    /* 每个坐标设置 x y 轴方向，例如 polygon(x y, x y, x y, x y) */
    /* 如下 左上为div的初始点，设为 0 0。右上x轴移动到div的最后边，y轴保持不变，设为 100% 0*/
    /* 右下x轴为div的最后边，设为100%。 y轴要设置为不规则图形，高度减一半，设为50%，或特定像素px  */

    /* 也可以变为三角形，只设置 3个坐标点 例如 polygon(50% 0, 100% 100%, 0% 100%) */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.header__logo-box {
    /* logo-box的母element是 .header，只有将 .header 的position设为relative */
    /* logo-box的position: absolute才起作用 top和left这时才是对应母element作为参照*/
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    /* 浏览器会自动计算width以满足图片的要求 */
    /* 设置width的话，浏览器会自动计算height */
    height: 3.5rem;
}

/* Animation can still happen when hover */
/* when hover on the .logo-box, ONLY .logo have hover effects. .logo-box will NOT have any hover effects. */
.header__logo-box:hover .header__logo {
    animation: moveInRight 1s ease-in;
}



.header__text-box {
    position: absolute;

    /* 在position为absolute的情况下，top left 各设置为 50% 是无法居中的 */
    /* 因为没有计算该element占用的空间 */
    /* 使用transform则可以将element的占用空间计算进去，从而达到居中的效果 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: white;
    text-transform: uppercase;

    /* solve a problem when animation finished, the animation object may have a little bit(1 or 2px) shaking */
    backface-visibility: hidden;

    margin-bottom: 6rem;
}


.heading-primary--main {
    /* 这个class为span，将其设为block element 能够占用全部width，这样就能更好的调整位置 */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* make the animation repeat 3 times
    animation-iteration-count: 3; */

    /* delay 3s to start the animation
    animation-delay: 3s; */

}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-right: -1.75rem;

    /* short hand writting */
    /* same as 
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
    animation: moveInRight 1s ease-out;
}


/* Animation for H1 */
/*  For the browser performance, it's best to only ever animate two different properties. */
/* 0% is the initial state, 100% is final state */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.btn:link,
.btn:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

/* active is when click the button, the active effect starts */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    /* always need to put content value. if no value, put empty string */
    content: "";

    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;

    /* below used to hide the content:"" of the actual button */
    /* absolute position needs to have a reference */
    /* the reference is the first element with the relative position that it can find */
    /* here, .header & .btn has relative position */
    /* .btn is the first relative element can be found */
    /* so follow the .btn position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;

    /* it will automatically apply the styles up to 0% before the animnation statrs */
    /* the animation is using moveInBottom, so the 0% effect is from moveInBottom */
    animation-fill-mode: backwards;
}